{% load static %}

<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href="{% static '/shipments/favicon.ico' %}">
    <title>Nagel Shipment</title>
    <link href="{% static '/shipments/css/app.b1c7a769.css' %}" rel=preload as=style>
    <link href="{% static '/shipments/css/chunk-vendors.66440731.css' %}" rel=preload as=style>
    <link href="{% static '/shipments/js/app.50ee12c6.js' %}" rel=preload as=script>
    <link href="{% static '/shipments/js/chunk-vendors.3d9476d5.js' %}" rel=preload as=script>
    <link href="{% static '/shipments/css/chunk-vendors.66440731.css' %}" rel=stylesheet>
    <link href="{% static '/shipments/css/app.b1c7a769.css' %}" rel=stylesheet>
</head>
<body>
<div id=app></div>
<script src="{% static '/shipments/js/chunk-vendors.3d9476d5.js' %}"></script>
<script src="{% static '/shipments/js/app.50ee12c6.js' %}"></script>
</body>
</html>